<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Minecraft Servebeer</title>
</head>
<body>
  <main>
    <div class="container">
      <div class="server-list">
        <div class="server-item">
          <div class="server-icon">
            <img src="img/server-icon.png" alt="">
          </div>
          <div class="server-name">
              <%= server.address %>
          </div>
          <div class="server-status">
            <div class="server-players"><%= server.players.now %>/<%= server.players.max %></div>
            <div class="server-status-icon">
              <% if (server.online) {%>
                <img src="img/status-on.png" alt="Online">
              <% } else {%>
                <img src="img/status-off.png" alt="Offline">
                <% } %>
             </div>
          </div>
        </div>
        
      </div>
      <div class="actions">
        <a href="/mods" class="btn">Скачать моды</a>
        <a href="#" class="btn disabled">Открыть карту</a>
        <a class="btn" onclick="infoToggle()">Информация</a>
      </div>
      <div id="info" style="display:none;">
          <p>ForgeOptiFine 1.16.4</p>
      </div>
    </div>
  </main>

  <script>
    function infoToggle() {
      var $info = document.getElementById('info')
      if ($info.style.display !== 'none') {
        $info.style.display = 'none' 
      } else {
        $info.style.display = 'block'
      }
    }
  </script>
</body>
</html>